.navbar {
    border-radius: 0px;
    height: 86px;
    padding: 10px;
    background: #2F006F;
    color: #fff;
    margin: 0;
}

.logo {
    width: 146px;
    height: 75px;
    margin: 0;
    padding-top: 3px;
}

.active {
   border-bottom: 2px solid #6C7828;
}

.links {
    padding-top: 11px;
    color: green;
}